<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>Danh sách thành phố</h3>
<p>
    <a th:href="@{/city/create}">
        Add new city
    </a>
</p>
<h3 th:if="${mess!=null}" th:text="${mess}"></h3>
<table id = "products">
    <thead>
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Nation</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city : ${listCity}">
        <td th:text="${city.id}"></td>
        <td><a th:href="@{/city/detail(id=${city.getId()})}" th:text="${city.name}"></a></td>
        <td th:text="${city.nation.name}"></td>
        <td><a th:href="@{/city/edit(id=${city.getId()})}">Edit</a></td>
        <td><a onclick ="return confirm('Do you want to Xoá?')" th:href="@{/city/delete(id=${city.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<!--phân trang nè-->
<div>
    <a th:href="@{'/city'(page=${listCity.number - 1})}" th:if="${listCity.hasPrevious()}">Previous</a>
    <span th:text="${listCity.number + 1}"></span>/<span th:text="${listCity.totalPages}"></span>
    <a th:href="@{'/city'(page=${listCity.number + 1})}" th:if="${listCity.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
